<h1>This is show page</h1>
<div class="container-sm">
<table class="table table-bordered table-sm">
    <tbody>
   <tr>
      <th scope="row">Type</th>
      <td><%=loan.loan_type%></td>
    </tr>
    <tr>
      <th scope="row">Amount Taken</th>
      <td><%=loan.total_amount%></td>
    </tr>
    <tr>
      <th scope="row">Amount Remaining</th>
      <td><%=loan.amount_remaining%></td>
    </tr>
    <tr>
      <th scope="row">Starting Month</th>
      <td><%=loan.month%></td>
    </tr>
    <tr>
      <th scope="row">Total number of installments</th>
      <td><%=loan.installments%></td>
    </tr>
    <tr>
      <th scope="row">Installment Amount</th>
      <td><%=loan.installment_amount%></td>
    </tr>
  </tbody>
</table>
</div>
